
.footerAbout {
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: url("../../images/logo2.jpg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.651);
    color: wheat;
    font-size: 10px;
    border-color: black;
}

.aboutUs {
    width: 65%; 
    Background: rgba(0, 0, 0, 0.918);
     text-align: center;
     margin: auto;
     border: 5px solid maroon;
     text-shadow: 2px 2px black;
     border-radius: 25px;
     margin-bottom: 50px;
 }
 
 .aboutH1 {
    text-decoration-line: underline;
 }