.about {
    padding-top: 60px;
    background-image: url("../../images/BWchess.jpeg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 800px;
    margin-left: 35px;
    margin-right:35px;
    background-color: rgba(0, 0, 0, 0.37);
    color: rgba(128, 0, 0, 0.555);
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.664);
    text-shadow:-2px 0px 1px rgb(25, 47, 80) ,-1px 1px 1px rgb(25, 64, 80),0px 0px 2px rgb(25, 53, 80),1px 3px 5px rgb(25, 58, 80),2px 4px 10px rgb(80, 25, 25);
    line-height: 24px;
}

.owner {
    border: black;
    height: 455px;
    width: 350px;
    float: left;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 20px;
    border-radius: 5px; 
    box-shadow: 0px 0px 15px 4px rgba(36, 35, 35, 0.616);
}
.aboutUs {
    width: 85%; 
    Background: rgba(34, 31, 31, 0.801);
     text-align: left;
     margin-left: 80px;
     font-size: 22px;
     text-shadow: 2px 2px black;
     border-radius: 10px;
     margin-bottom: 50px;
     color: whitesmoke;
     position: relative;
     padding: 25px;
     padding-bottom: 60px;
     /* text-indent: 25px; */
     box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.616);
 }
 
 .aboutH1 {
    font-family: 'Rozha One', serif;
    margin-bottom: 20px;
 }

 p {
     font-family: serif;
     font-weight: 530
 }