/* .blog {

    
    background-image: url("../../images/image21.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    color: wheat;
    font-size: 16px;
    border-color: black;
    height: 580px;
    margin-left: 35px;
    margin-right:35px;
} */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'PT Sans';
    font-size: 18px;
    background-image: url("../../images/coffeebeans.jpg");
    background-attachment: fixed;
    
    
}  
.img {
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-top: 20px; 
	width: auto;

}
.img-container {
	overflow: hidden;
	text-align: center;
	width: auto;
	margin: 30px;
  } 


