 .gallery {

        padding: 10px;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-top: auto;
        margin-left: 35px;
        margin-right: 35px;  
    

        width: auto;
        background-image: url("../../images/darkbeans.jpg");
    
} 

 




