 .gallery {

        padding: 10px;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-top: auto;
        width: auto;
        background-image: url("../../images/darkbeans.jpg");
    
} 

 




