.Divider {
    background-color: wheat;
    height: 2px;
    margin: auto;
}
.Menupage {
    background-color: black;
    background-image: url("../../images/coffeeart.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    font-family: 'Rye', cursive;
    color:rgb(97, 53, 24);

}
h1 {
    text-align: center;
    font-family: 'Rye', cursive;
    color: wheat;

}
.Lattes {
    background-image: url("../../images/coffeeart.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.Edibles {
    background-image: url("../../images/coffeeart.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.Yummy {
    background-image: url("../../images/coffeeart.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}