/* .Divider {
    background-color: wheat;
    height: 2px;
    margin: auto; 
}*/
.Menupage {
    background-image: url("../../images/butterfly2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    font-family: 'Rye', cursive;
    color:wheat;
    margin-left: 35px;
    margin-right:35px;
    text-shadow: 2px 4px 5px rgba(49, 48, 48, 0.719);
}
h1 {
    text-align: center;
    font-family: 'Rozha One', serif;
  

}
.h2Menu {
    font-family: 'Rozha One', serif;
    font-size: 22px;
    text-shadow: 0px 1px 2px rgba(15, 15, 15, 0.697), 1px 2px 4px rgba(15, 15, 15, 0.822);
    font-weight: 300;
    text-decoration: underline;
    margin-left: 40px;

}
h4 {
    font-family: 'Playfair Display', serif;
    text-shadow: 0px 1px 2px rgba(15, 15, 15, 0.697), 1px 2px 4px rgba(15, 15, 15, 0.822);
    font-size: 20px;
    color: white;
    font-weight: 300;
    /* font-family: 'Vast Shadow', cursive; */
}
.Lattes {
    /* background-image: url("../../images/coffeeart.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
.Edibles {
    /* background-image: url("../../images/danish.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
.Yummy {
    /* background-image: url("../../images/muffins.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
ul p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
