.jumbotron {
    margin-top: 20px;
    background-image: url("../../images/coffeebeans.jpg");
    background-size: 100% 100%;
    font-family: 'Rye', cursive;
    text-shadow:black;text-shadow: 2px 2px black;
    text-align: center;
    border:1px solid red;
}
.jumbotron h1 {
    font-size: 60px;
    color: rgb(248, 245, 245);
}
.jumbotron p {
    font-size: 30px;
    color: rgb(253, 249, 249);
}

body {
    background-image: url("../../images/beans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer {
    text-align: center;
    color: white;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

html{
    border:3px solid red;
}

#contactBTN {
    align-content: center;
    color: red;
}

Form {
    width: 33.3%;
    height: 600px;
    margin-left: 200px;
}

h3,
h5 {
    margin-left: 50px;
    color: rgb(241, 234, 132)
}

h3{
    margin-top: 50px;
    font-weight: bold;
}

#contactDetails,
#contactEmail, 
#contactLN, 
#contactFN{
 background: rgb(238, 233, 168);
}

#contactShare,
#userContact{
    color: rgb(241, 234, 132);
    font-size: 24px;

}
