/* body {
    background-image: url("../../images/BWstorefront.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(134, 12, 12);
    

} */

.subInput1 {
    background-color: black;
   /* text-align: center; */
   color: slategray;
   width: 450px;
   font-size: 18px;
}

.subInput2{
    background-color: black;
   /* text-align: center; */
   color: slategray;
   width: 450px;
   font-size: 18px;
}
.subInput3{
    background-color: black;
   /* text-align: center; */
   color: slategray;
   width: 450px;
   font-size: 18px;
}
.subTextarea{background-color: black;
    /* text-align: center; */
    color: slategray;
    width: 450px;
    font-size: 18px;
 }
 .checkbox {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px 50px;
    text-align: center;
    text-shadow:rgba(0, 0, 0);text-shadow: 2px 2px black;
    font-size: 24px;
    font-weight: bold;
    color: maroon;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 365px;
 }
 .subBox{
    background-color: blue;
 }

.subBtn {
    background-color: maroon;
    color: black;
    border-radius: 25px;
    padding:10px;
    font-size: 24px;
}

.h2Contact
{
    /* width: 200px; */
    color: maroon;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-left: 280px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline overline;
    /* background-color: rgba(112, 128, 144, 0.541);  */ 
    /* justify-content: center; */
    /* align-items: center;  */
    border-block-end: 20px;
}

.form1 {
    text-align: center;
    /* margin: 5.5% 15%; */
    height: 30px;
    width: 200%;
    border-color: black;
    border-width: 30px;
}