/* body {
    background-image: url("../../images/BWstorefront.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(134, 12, 12);
    

} */

.subInput1 {
    background: rgba(214, 210, 210, 0.781);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
   /* text-align: center; */
   color: wheat;
   width: 450px;
   font-size: 18px;
}

.subInput2{
    background: rgba(214, 210, 210, 0.781);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
   /* text-align: center; */
   color: wheat;
   width: 450px;
   font-size: 18px;
}
.subInput3{
    background: rgba(214, 210, 210, 0.781);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
   /* text-align: center; */
   color: slategray;
   width: 450px;
   font-size: 18px;
}
.subTextarea{
    background: rgba(214, 210, 210, 0.781);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
    /* text-align: center; */
    color: slategray;
    width: 450px;
    font-size: 18px;
    border-left: 2px solid rgb(158, 157, 157);
    border-top: 2px solid rgb(158, 157, 157);
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
 }
 .checkbox {
    background: rgba(214, 210, 210, 0.781);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
    border-radius: 15px 50px;
    border-left: 2px solid rgb(158, 157, 157);
    border-top: 2px solid rgb(158, 157, 157);
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
 

    text-align: center;
    text-shadow:rgba(0, 0, 0);text-shadow: 2px 2px black;
    font-size: 24px;
    font-weight: bold;
    color: maroon;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 365px;
 }
 .subBox{
    background-color: blue;
 }

.subBtn {
    background-color: maroon;
    color: rgba(0, 0, 0, 0.493);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
    border-radius: 25px;
    padding:10px;
    font-size: 24px;
    margin-bottom: 200px;
    border-left: 2px solid rgb(158, 157, 157);
    border-top: 2px solid rgb(158, 157, 157);
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;

}


.h2Contact
{
    /* width: 200px; */
    color: maroon;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-left: 280px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline;
    /* background-color: rgba(112, 128, 144, 0.541);  */ 
    /* justify-content: center; */
    /* align-items: center;  */
    /* border-block-end: 20px; */
}

.form1 {
    text-align: center;
    /* margin: 5.5% 15%; */
    height: 30px;
    width: 200%;
    border-color: rgba(0, 0, 0, 0.438);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.61);
    border-width: 30px;
    margin-bottom: 10px;
}
.container1{
    background-image: url("../../images/BWstorefront.jpeg");
background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position:fixed; */
    margin-left: 35px;
    margin-right: 35px;


   
}