body {
    
  
    border-color: solid black;
    
}

#home1{
    overflow: hidden;
    background-image: url("../../images/BWstorefront.jpeg");
    background-attachment: fixed;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: rgba(235, 233, 226, 0);
    position:fixed;
    left: 0;
    right: 0;position:fixed;
    left: 35px;
    right: 35px; 
    height: 580px;
}

.jumbotron {
    margin-top: 20px;
    background-size: 100%;
   font-family: 'Rozha One', serif;
    /* font-family: 'Rye', cursive; */
    text-shadow: 2px 4px 5px rgba(49, 48, 48, 0.719);
    text-align: center;
    /* border:1px solid rgba(255, 0, 0, 0.651); */
    background-color: rgba(240, 255, 255, 0);
}

.jumbotron h1 {
    font-size: 85px;
    color:   rgb(218, 4, 4);
    font-family: 'Rozha One', serif; 
  -webkit-text-stroke: 1px rgb(19, 4, 4);
   paint-order: stroke fill;

}
.jumbotron p {
    font-size: 35px;
    color:  rgb(173, 3, 3);
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
    
}

.jumbotron a {
    font-size: 30px;
}

.nav-item {
    font-size: 27px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(46, 46, 46); 
    background-color: whitesmoke;
    /* position: fixed; */
    /* width: 100%; */
}

#test{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: whitesmoke;
}

#top{
    height: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: url("../../images/logo2.jpg");
    background-position: left;
    background-size: 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    color: wheat;
    
    border-color: black;
  height: 68px;
}

#addr{
    /* width: 30%; */
  padding-top: 4px;
  font-size: 14px;
    /* margin: auto; */
}

#media{
   padding-top: 20px;
   padding-left: 60px;
    
}

p
{
margin: 0;
/* padding: 0; */
}

