/* Day background */
.rbc-day-bg{
    background-color: rgba(184, 215, 238, 0.342);
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1);
    box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1);
    height: 100%;
    
}

.rbc-off-range-bg{
    opacity: .6;

}

.rbc-today{
    opacity: .7;
}


/* Toolbar  */
.rbc-toolbar{
background-color: black;
font-family: 'Playfair Display', serif;
font-weight: bold;
}


.rbc-agenda-date-cell,.rbc-agenda-time-cell, .rbc-agenda-event-cell{
    color: white;
    font-style: bold;
    background-color: rgba(19, 19, 241, 0.322);
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1);
    box-shadow: inset 0px 0px 4px 1px rgba(71,70,71,1); 
}
/* Day of the Week */
    .rbc-header{
    background-color: black;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/* Event highligh bar */
    .rbc-event{
    background-color: rgba(0, 0, 0, 0.322) !important;
}

button{
    background-color: rgb(211, 211, 211) !important;  
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(71,70,71,1);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(71,70,71,1);
    box-shadow: inset 0px 0px 2px 1px rgba(71,70,71,1); 
}
#form1{
    margin-top: 600px;
}

.calendar{
    background-image: url("../../images/music2.jpg");
  
    /* position:fixed; */
    margin-left: 60px;
    margin-right: 60px;
}
.rbc-day-bg.rbc-off-range-bg {

    background-color: rgb(2, 6, 17);

}
.rbc-day-bg.rbc-today {
    background-color: rgb(129, 160, 228);
}

